#light {
    border: 5px solid greenyellow;
        background-color: rgb(253, 253, 253);
    color:rgb(255, 0, 0);

}



p {


    color: rgb(84, 103, 47) b
}
.piglet{
    background-color: hotpink;
    color: black;
    padding: 30px;
}

h3 {
    color: rgb(43, 116, 161);
    background-color: rgb(18, 172, 167);
    padding: 20px;

}

h1 {

    color: greenyellow;
}

h2 {

    color: brown
}
