#dark{

    background-color: rgb(0, 0, 0);
    color:white;


p {


    color: rgb(84, 103, 47) b
}

h3 {
    color: rgb(43, 116, 161);
    background-color: black;
    padding: 20px;

}

h1 {

    color: greenyellow;
}

h2 {

    color: rgb(42, 67, 165)
}
}

